@page "/"

<div class="poker-root">
    <NavigationBarComponent PokerUser="@PokerUser" SettingsClick="@ChangeView" LogoutClick="@Logout"></NavigationBarComponent>
    <div class="main-container">
        @if (TablesEnabled)
        {
            <div class="table-container">

                @if (SelectedTable != null)
                {
                    <div class="table-overlay">
                        <div>Selected Table: @SelectedTable.Name</div>
                        <div class="poker-button noselect" @onclick="@(() => LeaveTable())">Leave</div>
                    </div>
                }
                @foreach (var table in _tables)
                {
                    <TableComponent Table="@table" OnClick="@(() => JoinToTable(table))"></TableComponent>
                }
                <NewTableComponent OnClick="@AddTable"></NewTableComponent>
            </div>
        }
        <div class="poker-container">
            @if (Winner != null)
            {
                <div class="winner-overlay">
                    The winner is @Winner.PokerUser.Username
                    @if (@Winner.Result != null)
                    {
                        <div>
                            <br />
                            With @Winner.Result.Hand.ToString() - @Winner.Result.Values.FirstOrDefault().ToString()
                        </div>
                    }
                </div>
            }
            @if (SelectedTable == null)
            {
                <div class="poker-welcome-text noselect">
                    Please join to a table!
                </div>
            }
            else
            {
                <div class="poker-game-container">

                    @for (int i = 0; i < Players.Count; i++)
                    {
                        var currentPlayer = Players[i];
                        if (i < 2 || i == 5)
                        {
                            <div class="@StyleMap[i]">
                                @if (currentPlayer.CurrentRaise > 0)
                                {
                                    <div>@currentPlayer.CurrentRaise</div>
                                }
                                <CardRowComponent Cards="currentPlayer.Username == PokerUser.Username ? ownCards : unknown"></CardRowComponent>
                                <PlayerComponent Player="currentPlayer"
                                                 IsSelf="currentPlayer.Username == PokerUser?.Username"
                                                 IsActive="currentPlayer.Username == NextPlayer?.Username"></PlayerComponent>
                            </div>
                        }
                        else
                        {
                            <div class="@StyleMap[i]">
                                <PlayerComponent Player="currentPlayer"
                                                 IsSelf="currentPlayer.Username == PokerUser?.Username"
                                                 IsActive="currentPlayer.Username == NextPlayer?.Username"></PlayerComponent>
                                <CardRowComponent Cards="currentPlayer.Username == PokerUser.Username ? ownCards : unknown"></CardRowComponent>
                                @if (currentPlayer.CurrentRaise > 0)
                                {
                                    <div>@currentPlayer.CurrentRaise</div>
                                }
                            </div>
                        }

                    }

                    <div class="poker-middle">
                        <CardRowComponent Cards="flop"></CardRowComponent>
                        @if (Pot != 0)
                        {
                            <div>Pot: @Pot</div>
                        }
                    </div>
                    <div class="poker-result noselect">
                        @if (CurrentSessionGuid != null)
                        {
                            <div class="poker-hud-container">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success justify-content-end @((!ProgressPercent.Color.Equals(default(Poker.Shared.Models.PokerModels.ProgressPercent)) ? ProgressPercent.Color : ""))" role="progressbar" aria-valuenow="@ProgressPercent.Percent" aria-valuemin="0" aria-valuemax="100" style="transform: rotate(180deg); width: @ProgressPercent.ToString()"></div>
                                </div>
                                <div class="poker-slider">
                                    <input class="poker-slider-range" type="range" min="@MinValue" max="@Balance" @bind="CurrentValue" @bind:event="oninput" step="10">
                                    <div class="form-control poker-raise noselect">
                                        @CurrentValue
                                    </div>
                                </div>
                                <div class="poker-action-container">
                                    <div class="poker-button noselect @(IsRaiseInProgess ? "poker-button-deactivated" : "")" @onclick="() => SendAction(Poker.Shared.Enums.UserActionType.Check)">@Poker.Shared.Enums.UserActionType.Check.ToString()</div>
                                    <div class="poker-button noselect @(IsRaiseInProgess ? "" : "poker-button-deactivated")" @onclick="() => SendAction(Poker.Shared.Enums.UserActionType.Call)">@Poker.Shared.Enums.UserActionType.Call.ToString()</div>
                                    <div class="poker-button noselect @(IsRaise ? "" : "poker-button-deactivated")" @onclick="() => SendAction(Poker.Shared.Enums.UserActionType.Raise)">@Poker.Shared.Enums.UserActionType.Raise.ToString()</div>
                                    <div class="poker-button noselect" @onclick="() => SendAction(Poker.Shared.Enums.UserActionType.AllIn)">@Poker.Shared.Enums.UserActionType.AllIn.ToString()</div>
                                    <div class="poker-button noselect" @onclick="() => SendAction(Poker.Shared.Enums.UserActionType.Fold)">@Poker.Shared.Enums.UserActionType.Fold.ToString()</div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>

    </div>
</div>